[Unit]
Description=Gunicorn instance to serve Lide web
Requires=mariadb.service
After=mariadb.service
After=network-online.target
Wants=network-online.target

[Service]
User=http
Group=http
EnvironmentFile=/etc/lide.conf
RuntimeDirectory=gunicorn_django
WorkingDirectory=/var/www/lide/backend
ExecStart=/var/www/lide/bin/gunicorn lide.asgi:application -k uvicorn.workers.UvicornWorker
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
