[Unit]
Description=Lide socket

[Socket]
ListenStream=/run/lide.sock
SocketUser=http
SocketGroup=http
SocketMode=660

[Install]
WantedBy=sockets.target