[Unit]
Description=Gunicorn instance to serve Lide web
Requires=mariadb.service
After=mariadb.service
After=network-online.target
Wants=network-online.target

[Service]
User=http
Group=http
RuntimeDirectory=gunicorn_django
WorkingDirectory=/var/www/lide/backend
ExecStart=/usr/bin/gunicorn lide.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
